* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background: #f7f7f7;
}
body {
    width: 50%;
    margin: 0 auto;
    padding: 55px 50px;
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
h1 {
    font-size: 5em;
    line-height: 0.9em;
    border-bottom: 1px solid #ccc;
}
h2 {
    font-size: 1.5em;
    display: inline-block;
    font-weight: normal;
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
p {
    margin: 25px 0;
    line-height: 1.75em;
}
div.align-right {
    text-align: right;
}
img.screenshot {
    float: left;
    margin-left: -15px;
    margin-top: -30px;
}